@media only screen and (max-width: 1025px) {
    .textcontainer1{
        width: 72%;
    }
    .progress-bar {
        background: white;
        width: 684px;
        height: 21px;
        border-radius: 11px;
    }
}


@media only screen and (max-width: 769px) {
    .box{
        position: relative;
        top: 10px;
    }
    .progress-bar {
        background: white;
        width: 519px;
        height: 21px;
        border-radius: 11px;
    }
    .textcontainer1 {
        width: 72%;
        height: 390px;
    }
    .grid-container {
        font-size: 22px;
    }
    .textcontainer3 .submit {
        width: 50%;
    }
}
@media only screen and (max-width: 426px) {
    .container span {
      font-size: 17px;
    }
    .container h1{
        font-size: 30px;
        margin-top: -24px;
    }
    .container p{
        font-size: 17px;
        margin-top: -24px;
    }
    .box{
        position: relative;
        top: 18px;
    }
    .center button {
        width: 11rem;
        height: 31px;
        font-size: 4vh;
    }
    .progress-bar {
        background: white;
        width: 281px;
        height: 21px;
        border-radius: 11px;
    }
    .grid-container {
        font-size: 12px;
    }

    input {
        width: 220px;
    }
    
}


@media only screen and (max-width: 376px){
    .progress-bar {
        background: white;
        width: 244px;
        height: 21px;
        border-radius: 11px;
    }
    .textcontainer1 {
        width: 72%;
        height: 372px;
    }
    .grid-container {
        font-size: 10px;
    }
    .textcontainer3 .submit {
        width: 78%;
    }
}

@media only screen and (max-width: 321px) {
    .container span {
        font-size: 14px;
    }
    .container h1{
        font-size: 23px;
        margin-top: -30px;
    }

    .container p{
        font-size: 15px;
        margin-top: -24px;
    }

    .box{
        position: relative;
        top: 23px;
    }
    .progress-bar {
        background: white;
        width: 211px;
        height: 21px;
        border-radius: 11px;
    }
    .grid-container {
        font-size: 9px;
    }
    input {
        width: 206px;
    }
}




@media only screen and (max-width: 412px) {
    .center button {
        width: 13rem;
        height: 31px;
        font-size: 2vh;
    }
    .progress-bar {
        background: white;
        width: 250px;
        height: 14px;
        border-radius: 11px;
    }
    .progress-bar div {
        height: 14px;
        border-radius: 10px;
    }

    label {
        font-size: 3vh;
    }
    .textcontainer3{
        height: 319px;
    }
}