*{
    margin: 0px;
    padding: 0;
    color: white;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    justify-content: center;
    
}

body{
    font-family: montserrat;
    background-image: url("../Image/home1.jpg");    
    background-size: cover;
    background-position: center; 
}


nav{
    height: 95px;
    width: 100%;
    font-weight: bolder;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-size: 20px;
}
nav ul li a:hover{
   background-color: rgb(219, 203, 203);
   border: 1px solid white;
   border-radius: 20%;
   color: black;
}

nav ul li a{
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: underline;

}

.checkbtn{
    font-size: 30px;
    float: right;
    cursor: pointer;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}


#check{
    display: none;
}


@media (max-width:952px){
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width:858px){
    .checkbtn{
        display: block;
    }

    .banner{
        width: 100%;
        height: 300vh;
    }

    ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: transparent;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
}


.mynamepic{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}


.container{
    text-align: center;
    font-size: 30px;
}

.textcontainer1 .container .skills h2{
    text-align: left;
}

.container span{
    color: antiquewhite;
    margin: auto;
}

#fsd{
    color: yellow;
}

.box{
    padding-top: 5%;
    position: relative;
}


.why{
    text-align: center;
    color: yellow;
    text-decoration: underline;
}
.center {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center button{
    color: black;
    width: 13rem;
    border-radius: 2rem;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1%;
    height: 48px;
    color: blue;
    border: 2px solid blue;
}


.textcontainer{
    border: 3px solid peachpuff;
    border-radius: 2rem;
    box-shadow: 5px 10px 10px;
    height: 27vw;
    padding: 3%;
    width:70%;
    margin: auto;
    margin-top: 49px;
}


.text{
    font-size: 2vw;
}


.thank{
    text-align: center;
}



.textcontainer1{
    border: 3px solid;
    border-radius: 2rem;
    box-shadow: 5px 10px 10px;
    padding: 2%;
    width: 70%;
    margin: auto;
    margin-top: 3rem;
}


.skills h2{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    
}

.progress-bar{
    background: white;
    width: 943px;
    height: 21px;
    border-radius: 11px;
}



.progress-bar div{
    height: 21px;
    border-radius: 10px;
    width: 0%;
}


.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: inherit;
    border: 2px solid yellow;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}



.html{
    background: red;
    animation: html 1s linear forwards;
}

.css{
    background: green;
    animation: css 1s linear forwards;
}

.js{
    background: blue;
    animation: js 1s linear forwards;
}

.java{
    background: black;
    animation: java 1s linear forwards;
}

.dsa{
    animation: dsa 1s linear forwards;
    background: rgb(121, 118, 118);
}


@keyframes html{
    100%{
        width: 70%;
    }
}

@keyframes css{
    100%{
        width: 60%;
    }
}
@keyframes js{
    100%{
        width: 65%;
    }
}
@keyframes java{
    100%{
        width:80%;
    }
}

@keyframes dsa{
    100%{
        width: 80%;
    }
} 




.grid-container {

    text-align: center;
    align-items: center;
    padding: 10%;
    font-size: 30px;
  }


input{
    border-radius: 4px;
    font-size: 160%;
    color: black;
    text-align: center;
    align-items: center;
}



form{
    text-align: center;
}

.textcontainer3 .submit{
    border: 2px solid blue;
    background-color: blue;
    color: yellowgreen;
    width: 25%;
    justify-content: center;
    border-radius: 20%;
    position: relative;
    left: 4%;
    cursor: pointer;
}


label{
    font-size: 5vh;
}

.textcontainer3{
    border: 3px solid;
    border-radius: 2rem;
    box-shadow: 5px 10px 10px;
    padding: 2%;
    width: 70%;
    margin: auto;
    margin-top: 3rem;
}




